{% extends "base.html" %}

{% block body %}
<div class="about">
    <h1>About Qysqa</h1>
    <h2>What on the Earth is qysqa?</h2>
    <p>Qysqa is an open-source URL shortener project.</p>
    <p>It was created using Flask + Jinja templating system.</p>
    <p>Put URL &#8594 Shorten &#8594 Use</p>

    <h2>Features:</h2>
    <ul>
        <li>✨ Custom URL token</li>
        <li>🙀 Short URL Clicks Tracker</li>
        <li>🔎 URL Lookup</li>
        <li>🚀 Profile Page for Logged Users</li>
    </ul>

    <h2>Plans:</h2>
    <ul>
        <li>Public/Private Short URLs</li>
        <li>More Features on User Profiles</li>
    </ul>

    <h2>Is it Necessary to Register?</h2>
    <p>It isn't. Logging in provides some additional features to users,</p>
    <p>however, you can still feel free and remain anonymous.</p>
</div>
{% endblock %}
