{% extends "base.html" %}

{% block body %}
<div class="about">
    <h1>About Qysqa</h1>
    <h2>What on the Earth is qysqa?</h2>
    <p>Qysqa is an open-source URL shortener project.</p>
    <p>It was created using Flask + Jinja templating system.</p>
    <p>Put URL &#8594 Shorten &#8594 Use</p>

    <h2>Features:</h2>
    <ul>
        <li>Custom URL token</li>
        <li>Short URL Clicks Tracker</li>
        <li>URL Lookup</li>
    </ul>

    <h2>Plans:</h2>
    <ul>
        <li>Implement Authentication System</li>
        <li>Public/Private Short URLs</li>
        <li>Qysqa User Profiles</li>
    </ul>
</div>
{% endblock %}
