<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
		<meta name="description" content="qysqa a URL shortener website with CLI support.">
		
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="{{ url_for('static', filename='font.css') }}" rel="stylesheet">
		<link href="/static/style.css" rel="stylesheet" type="text/css"/>

		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>

		<title>qysqa - Shorten your URL</title>
	</head>
	<body>
		<nav>
			<ul>
				<li class="logo"><a href="/">qysqa - URL Shortener</a></li>
				<li class="items"><a href="{{ url_for('main.index') }}">Shortener</a></li>
				<li class="items"><a href="{{ url_for('main.tracker') }}">Tracker</a></li>
				<li class="items"><a href="{{ url_for('main.lookup') }}">Lookup</a></li>
				<li class="btn"><a href="#"><i class="fas fa-bars"></i></a></li>
			</ul>
		</nav>

		{% block body %}{% endblock %}

		<script>
			$(document).ready(function(){
				$('.btn').click(function(){
					$('.items').toggleClass("show");
					$('ul li').toggleClass("hide");
				});
			});
            {% block script %}{% endblock %}
		</script>
	</body>

	<footer>
		<a href="https://github.com/Dositan">&#169; Dositan</a>
	</footer>
</html>
