<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1"
    />
    <meta
      name="description"
      content="qysqa a URL shortener website with CLI support."
    />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script
      src="https://kit.fontawesome.com/a21a50c51f.js"
      crossorigin="anonymous"
    ></script>

    <title>qysqa - Shorten your URL</title>
  </head>
  <body>
    <nav>
      <ul>
        <li class="logo"><a href="/">qysqa - URL Shortener</a></li>
        <li class="items"><a href="{{ url_for('main.about') }}">About</a></li>
        <li class="items"><a href="{{ url_for('main.tracker') }}">Tracker</a></li>
        <li class="items"><a href="{{ url_for('main.lookup') }}">Lookup</a></li>
        {% if current_user and current_user.is_authenticated %}
        <li class="items">
          <a href="{{ url_for('auth.profile', username=current_user.username) }}">Profile</a>
        </li>
        <li class="items">
          <a href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
        {% elif form %}
        <li class="items"><a href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="items"><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
        <li class="btn">
          <a href="#"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
    </nav>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <span class="flashed">{{ message }}</span>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}

    <script>
      $(document).ready(function () {
        $(".btn").click(function () {
          $(".items").toggleClass("show");
          $("ul li").toggleClass("hide");
        });
      });
    </script>
    {% block script %}{% endblock %}
  </body>

  <footer>
    <a href="https://github.com/Dositan">&#169; Dositan</a>
  </footer>
</html>
